## Az eredményeket mentsd a src/weekly modul-ba weekly_test_5.py néven

#### Használható modulok: pandas, typing, matplotlib, random, src.utils, src.weekly, str

In [63]:
from pathlib import Path

file_to_load = Path.cwd().parent.joinpath('data').joinpath('chipotle.tsv')

In [ ]:
"""
1., Olvasd be a data mappa chipotle.tsv nevű fájlját egy dataframe-be. A betöltött   adatokat food nevű változóban mentse. A következő feladatokban a kiinduló fájlt csak akkor írd felül, ha jelezve van.
"""

In [5]:
import pandas as pd

food = pd.read_csv("../data/chipotle.tsv", sep="\t")

In [ ]:
"""
2., Készts egy függvényt, ami a bemeneti adattömbben átalakítja az item_price értékeit float-ra. Az eredeti adatokat a függvény ne módosítsa. A kapott, tisztított adatokkal írd felül a food változót.

függvény név: change_price_to_float
bemenet: input_df
kimeneti típus: pandas.core.frame.DataFrame
"""

In [6]:
def change_price_to_float(input_df):
    copy_df = input_df.copy()

    copy_df['item_price'] = copy_df['item_price'].str.replace('$', '').astype(float)

    return copy_df

In [7]:
food = change_price_to_float(food)
food

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",8.75

In [ ]:
"""
3., Készíts egy függvényt, ami megmondja, hogy hány megfigyelés található az adathalmazban

függvény név: number_of_observations
bemenet: input_df
kimeneti típus: int
"""

In [5]:
def number_of_observations(input_df):
    return len(input_df)

In [6]:
number_of_observations(food)

4622

In [ ]:
"""
4., Készíts egy függvényt, ami visszadja a termék neveket és az áraikat.

függvény név: items_and_prices
bemenet: input_df
kimeneti típus: pandas.core.frame.DataFrame
"""

In [7]:
def items_and_prices(input_df):
     return input_df[['item_name', 'item_price']]

In [69]:
items_prices_df = items_and_prices(food)
items_prices_df

                                  item_name  item_price
0              Chips and Fresh Tomato Salsa        2.39
1                                      Izze        3.39
2                          Nantucket Nectar        3.39
3     Chips and Tomatillo-Green Chili Salsa        2.39
4                              Chicken Bowl       16.98
...                                     ...         ...
4617                          Steak Burrito       11.75
4618                          Steak Burrito       11.75
4619                     Chicken Salad Bowl       11.25
4620                     Chicken Salad Bowl        8.75
4621                     Chicken Salad Bowl        8.75

[4622 rows x 2 columns]

In [ ]:
"""
5., Készíts egy függvényt, ami sorba rendezi az termékeket az áruk alapján, csökkenő sorrendben. Használd az előző  függvény eredményét.

függvény név: sorted_by_price
bemenet: input_df
kimeneti típus: pandas.core.frame.DataFrame

"""

In [36]:
def sorted_by_price(input_df):
    return input_df.sort_values(by='item_price', ascending=False)

In [37]:
sorted_by_price(items_and_prices(food))

                         item_name  item_price
3598  Chips and Fresh Tomato Salsa       44.25
3480                 Carnitas Bowl       35.25
1254               Chicken Burrito       35.00
3602               Chicken Burrito       35.00
3601                Veggie Burrito       33.75
...                            ...         ...
3936                   Canned Soda        1.09
2922                 Bottled Water        1.09
1396                   Canned Soda        1.09
2562                   Canned Soda        1.09
1457                   Canned Soda        1.09

[4622 rows x 2 columns]

In [ ]:
"""
6., Készíts egy függvényt, ami visszaadja az átlagos árat.

függvény név: avg_price
bemenet: input_df
kimeneti típus: float

"""

In [28]:
def avg_price(input_df):
    return input_df['item_price'].mean()

In [29]:
avg_price(food)

7.464335785374297

In [ ]:
"""
7., Készíts egy függvényt, ami visszadja azokat az egyedi termékeket (név, feltét és ár szempontjából egyedi), amelyek ára 10 dollár felett van

függvény név: unique_items_over_ten_dollars
bement: input_df
kimeneti típus: pandas.core.frame.DataFrame

"""

In [48]:
def unique_items_over_ten_dollars(input_df):
    copy_df = input_df.copy()
    filtered_df = copy_df[copy_df['item_price'] > 10]
    filtered_df2 = filtered_df.drop_duplicates(subset=['item_name', 'choice_description', 'item_price'])
    return filtered_df2.drop(['order_id', 'quantity'], axis='columns')

In [49]:
unique_items_over_ten_dollars(food)

,item_name,choice_description,item_price
4,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98
5,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",10.98
7,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.75
13,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25
23,Chicken Burrito,"[[Tomatillo-Green Chili Salsa (Medium), Tomati...",10.98
...,...,...,...
4593,Carnitas Bowl,"[Roasted Chili Corn Salsa, [Rice, Sour Cream, ...",11.75
4594,Barbacoa Bowl,"[Roasted Chili Corn Salsa, [Pinto Beans, Sour ...",11.75
4607,Steak Burrito,"[Tomatillo Green Chili Salsa, [Rice, Cheese, S...",11.75
4610,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75
4611,Veggie Burrito,"[Tomatillo Green Chili Salsa, [Rice, Fajita Ve...",11.25

In [ ]:
"""
8., Készíts egy függvényt, ami visszaadja azon termékek neveit, amelyek neve 'S'-el kezdődik.

fv. neve: items_starting_with_s
bemenet: input_df
kimeneti típus: pandas.core.frame.DataFrame
"""

In [13]:
def items_starting_with_s(input_df):
    copy_df = input_df.copy()
    filtered_df = copy_df[copy_df['item_name'].str.startswith('S')]

    result = filtered_df['item_name'].unique()
    return pd.Series(result, name='item_name')

In [14]:
items_with_s = items_starting_with_s(food)
items_with_s

0         Side of Chips
1         Steak Burrito
2      Steak Soft Tacos
3            Steak Bowl
4    Steak Crispy Tacos
5      Steak Salad Bowl
6           Steak Salad
7                 Salad
Name: item_name, dtype: object

In [ ]:
"""
9. Készíts egy függvényt, ami visszaadja az első 3 oszlopot. Használd a tisztított.

fv. név: first_three_columns
bemenet: input_df
return típus: pandas.core.frame.DataFrame

"""

In [73]:
def first_three_columns(input_df):
    return input_df.iloc[:, :3]

In [74]:
first_three_cols = first_three_columns(food)
first_three_cols

      order_id  quantity                              item_name
0            1         1           Chips and Fresh Tomato Salsa
1            1         1                                   Izze
2            1         1                       Nantucket Nectar
3            1         1  Chips and Tomatillo-Green Chili Salsa
4            2         2                           Chicken Bowl
...        ...       ...                                    ...
4617      1833         1                          Steak Burrito
4618      1833         1                          Steak Burrito
4619      1834         1                     Chicken Salad Bowl
4620      1834         1                     Chicken Salad Bowl
4621      1834         1                     Chicken Salad Bowl

[4622 rows x 3 columns]

In [ ]:
"""
10. Készíts egy függvényt, ami visszaadja az összes oszlopot az utolsó 2-on kívül. Használd a tisztított adatokat.

fv. név: every_column_except_last_two
bemenet: input_df
return típus: pandas.core.frame.DataFrame

"""

In [75]:
def every_column_except_last_two(input_df):
    return input_df.iloc[:, :-2]

In [76]:
selected_cols = every_column_except_last_two(food)
selected_cols

      order_id  quantity                              item_name
0            1         1           Chips and Fresh Tomato Salsa
1            1         1                                   Izze
2            1         1                       Nantucket Nectar
3            1         1  Chips and Tomatillo-Green Chili Salsa
4            2         2                           Chicken Bowl
...        ...       ...                                    ...
4617      1833         1                          Steak Burrito
4618      1833         1                          Steak Burrito
4619      1834         1                     Chicken Salad Bowl
4620      1834         1                     Chicken Salad Bowl
4621      1834         1                     Chicken Salad Bowl

[4622 rows x 3 columns]

In [ ]:
"""
11. Készíts egy függvényt, amely tetszőleges oszlopokat és sorokat ad vissza a bemeneti adatokból. A sorokat és oszlopokat listák formájában adjuk be a függvénynek. A sorokat egy bemeneti oszlop alapján szűrjük.

fv. név: sliced_view
bemenet: input_df, columns_to_keep, column_to_filter, rows_to_keep
return type: pandas.core.frame.DataFrame

"""

In [77]:
def sliced_view(input_df, columns_to_keep, column_to_filter, rows_to_keep):
    filtered_df = input_df[input_df[column_to_filter].isin(rows_to_keep)]
    return filtered_df[columns_to_keep]

In [78]:
selected_data = sliced_view(food, ['item_name', 'item_price'], 'item_name', ['Steak Burrito'])
selected_data

          item_name  item_price
7     Steak Burrito       11.75
9     Steak Burrito        9.25
31    Steak Burrito        8.99
43    Steak Burrito       11.75
46    Steak Burrito        8.99
...             ...         ...
4546  Steak Burrito        9.25
4607  Steak Burrito       11.75
4610  Steak Burrito       11.75
4617  Steak Burrito       11.75
4618  Steak Burrito       11.75

[368 rows x 2 columns]

In [ ]:
"""
12. Készíts egy függvényt, ami a bemeneti adatokat kiegészíti egy 'Quartile' oszloppal. Használd a tisztított adatokat. A kvartilis oszlop értékeit az ár alapján határozza meg:

30 - : 'premium'
20 - 29.99: 'high-cost'
10 - 19.99: 'medium-cost
0 - 9.99: 'low-cost'

fv. név: generate_quartile
bemenet: input_df
return type: pandas.core.frame.DataFrame

"""

In [81]:
def generate_quartile(input_df):
    copy_df = input_df.copy()
    quartile_labels = ['low-cost', 'medium-cost', 'high-cost', 'premium']
    quartile_bins = [0, 9.99, 19.99, 29.99, float('inf')]
    copy_df['Quartile'] = pd.cut(input_df['item_price'], bins=quartile_bins, labels=quartile_labels).astype('object')
    return copy_df

In [82]:
food_with_quartile = generate_quartile(food)
food_with_quartile

,order_id,quantity,item_name,choice_description,item_price,Quartile
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39,low-cost
1,1,1,Izze,[Clementine],3.39,low-cost
2,1,1,Nantucket Nectar,[Apple],3.39,low-cost
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39,low-cost
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98,medium-cost
...,...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75,medium-cost
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75,medium-cost
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25,medium-cost
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",8.75,low-cost
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",8.75,low-cost

In [ ]:
"""
13., Készíts egy függvényt, ami minden kvartilis értékhez kiszámítja, az átlagos árat. Használd az előző feladat eredményét bemenetként.

fn név: average_price_in_quartiles
bemenet: input_df
return type: pandas.core.frame.DataFrame

"""

In [87]:
def average_price_in_quartiles(input_df):
    copy_df = input_df.copy()
    avg_price_in_quartiles = copy_df.groupby('Quartile')['item_price'].mean().reset_index()

    return avg_price_in_quartiles['item_price']

In [88]:
avg_price_quartiles = average_price_in_quartiles(food_with_quartile)
avg_price_quartiles

C:\Users\Balazs\AppData\Local\Temp\ipykernel_8716\483728892.py:3: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  avg_price_in_quartiles = copy_df.groupby('Quartile')['item_price'].mean().reset_index()

   item_price
0    5.869593
1   11.853084
2   23.181951
3   36.031667

In [ ]:
"""
14., Készíts egy függvényt ami minden kvartilis esetén visszadja az árak minimális és maximális értékét, valamint az átlagát.

fv. név: minmaxmean_price_in_quartile
bemenet: input_df
return type: pandas.core.frame.DataFrame
"""

In [91]:
def minmaxmean_price_in_quartile(input_df):
    copy_df = input_df.copy()
    minmax_blocks = copy_df.groupby('Quartile')['item_price'].agg(['min', 'max', 'mean']).reset_index(drop=True)
    return minmax_blocks

In [92]:
minmaxmean_prices_quartiles = minmaxmean_price_in_quartile(food_with_quartile)
minmaxmean_prices_quartiles

C:\Users\Balazs\AppData\Local\Temp\ipykernel_8716\3654725702.py:3: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  minmax_blocks = copy_df.groupby('Quartile')['item_price'].agg(['min', 'max', 'mean']).reset_index(drop=True)

     min    max       mean
0   1.09   9.39   5.869593
1  10.50  18.50  11.853084
2  21.96  27.75  23.181951
3  32.94  44.25  36.031667

In [ ]:
"""
15. Készíts egy függvényt, ami létrehoz egy listát, benne number_of_trajectories db listával. A belső listák létrehozásának logikája a következő:
    A bemeneti paraméterként kapott distribution osztály felhasználásával (UniformDistribution 0,1 paraméterekkel) generálj length_of_trajectory véletlen számot
    A belső lista tartalmazza a generált számok kumulatív átlagát.
    Ismételd meg number_of_trajectories alkalommal (mindegyik belső listába egyszer)
    A seed értéke legyen 42.

függvény bemenete: distribution, number_of_trajectories, length_of_trajectory
kimeneti típus: List    
függvény neve: gen_uniform_mean_trajectories
"""

In [10]:
import src.utils.distributions as dist
import random

In [11]:
def gen_uniform_mean_trajectories(distribution, number_of_trajectories, length_of_trajectory):
    distribution.rand.seed(42)
    
    trajectories = []

    for _ in range(number_of_trajectories):
        trajectory = []
        cumulative_sum = 0.0
        
        for _ in range(length_of_trajectory):
            random_number = distribution.gen_rand()
            cumulative_sum += random_number
            trajectory.append(cumulative_sum / (len(trajectory) + 1))

        trajectories.append(trajectory)

    return trajectories

In [12]:
# usage
distribution = dist.UniformDistribution(random, 0,1)
number_of_trajectories = 5
length_of_trajectory = 10
trajectories = gen_uniform_mean_trajectories(distribution, number_of_trajectories, length_of_trajectory)
trajectories

[[0.6394267984578837,
  0.33221877684027534,
  0.31315562401655667,
  0.29066940254962315,
  0.379829764872501,
  0.42930805196423605,
  0.4954325542128945,
  0.4443708390149597,
  0.44187650353388314,
  0.4006685751243019],
 [0.21863797480360336,
  0.3619966314534829,
  0.2501764108636098,
  0.23734172081936947,
  0.3198502642114002,
  0.3573654669433696,
  0.33780477481441634,
  0.36923738844710285,
  0.4181477293616277,
  0.376982832393271],
 [0.8058192518328079,
  0.7519793234105174,
  0.6147363877796755,
  0.4999221657877021,
  0.591380347071518,
  0.5489160467450361,
  0.48374887483576634,
  0.4353698125854786,
  0.4811614296701432,
  0.493417889839818],
 [0.8071282732743802,
  0.768430029984099,
  0.691029383807633,
  0.7615509788505674,
  0.6849476585221247,
  0.662796487313975,
  0.6865976554481207,
  0.6780879175626364,
  0.6984900267568742,
  0.686376238606863],
 [0.7045718362149235,
  0.37519810993529285,
  0.32609816517404416,
  0.31692061478105993,
  0.26949488720957343,
  0.26337755373481625,
  0.24018096454551804,
  0.2449050443660898,
  0.28832497768812426,
  0.29597569781632027]]

In [ ]:
"""
16. Készíts egy függvényt, ami létrehoz egy listát, benne number_of_trajectories db listával. A belső listák létrehozásának logikája a következő:
    A bemeneti paraméterként kapott distribution osztály felhasználásával (LogisticDistribution 1, 3.3 paraméterekkel) generálj length_of_trajectory véletlen számot
    A belső lista tartalmazza a generált számok kumulatív átlagát.
    Ismételd meg number_of_trajectories alkalommal (mindegyik belső listába egyszer)
    A seed értéke legyen 42.

függvény bemenete: distribution, number_of_trajectories, length_of_trajectory
kimeneti típus: List    
függvény neve: gen_logistic_mean_trajectories
"""

In [ ]:
def gen_logistic_mean_trajectories(distribution, number_of_trajectories, length_of_trajectory):
    distribution.rand.seed(42)
    
    trajectories = []

    for _ in range(number_of_trajectories):
        trajectory = []
        cumulative_sum = 0.0
        
        for _ in range(length_of_trajectory):
            random_number = distribution.gen_rand()
            cumulative_sum += random_number
            trajectory.append(cumulative_sum / (len(trajectory) + 1))

        trajectories.append(trajectory)

    return trajectories

In [ ]:
"""
17. Készíts egy függvényt, ami létrehoz egy listát, benne number_of_trajectories db listával. A belső listák létrehozásának logikája a következő:
    A bemeneti paraméterként kapott distribution osztály felhasználásával (LaplaceDistribution 1, 3.3 paraméterekkel) generálj length_of_trajectory véletlen számot
    A belső lista tartalmazza a generált számok kumulatív átlagát.
    Ismételd meg number_of_trajectories alkalommal (mindegyik belső listába egyszer)
    A seed értéke legyen 42.

függvény bemenete: distribution, number_of_trajectories, length_of_trajectory
kimeneti típus: List    
függvény neve: gen_laplace_mean_trajectories
"""

In [ ]:
def gen_laplace_mean_trajectories(distribution, number_of_trajectories, length_of_trajectory):
    distribution.rand.seed(42)
    
    trajectories = []

    for _ in range(number_of_trajectories):
        trajectory = []
        cumulative_sum = 0.0
        
        for _ in range(length_of_trajectory):
            random_number = distribution.gen_rand()
            cumulative_sum += random_number
            trajectory.append(cumulative_sum / (len(trajectory) + 1))

        trajectories.append(trajectory)

    return trajectories

In [ ]:
"""
18. Készíts egy függvényt, ami létrehoz egy listát, benne number_of_trajectories db listával. A belső listák létrehozásának logikája a következő:
    A bemeneti paraméterként kapott distribution osztály felhasználásával (CauchyDistribution 2,4 paraméterekkel) generálj length_of_trajectory véletlen számot
    A belső lista tartalmazza a generált számok kumulatív átlagát.
    Ismételd meg number_of_trajectories alkalommal (mindegyik belső listába egyszer)
    A seed értéke legyen 42.

függvény bemenete: distribution, number_of_trajectories, length_of_trajectory
kimeneti típus: List    
függvény neve: gen_cauchy_mean_trajectories
"""

In [ ]:
def gen_cauchy_mean_trajectories(distribution, number_of_trajectories, length_of_trajectory):
    distribution.rand.seed(42)
    
    trajectories = []

    for _ in range(number_of_trajectories):
        trajectory = []
        cumulative_sum = 0.0
        
        for _ in range(length_of_trajectory):
            random_number = distribution.gen_rand()
            cumulative_sum += random_number
            trajectory.append(cumulative_sum / (len(trajectory) + 1))

        trajectories.append(trajectory)

    return trajectories

In [ ]:
"""
19. Készíts egy függvényt, ami létrehoz egy listát, benne number_of_trajectories db listával. A belső listák létrehozásának logikája a következő:
    A bemeneti paraméterként kapott distribution osztály felhasználásával (ChiSquaredDistribution 3 paraméterrel) generálj length_of_trajectory véletlen számot
    A belső lista tartalmazza a generált számok kumulatív átlagát.
    Ismételd meg number_of_trajectories alkalommal (mindegyik belső listába egyszer)
    A seed értéke legyen 42.

függvény bemenete: distribution, number_of_trajectories, length_of_trajectory
kimeneti típus: List    
függvény neve: gen_chi2_mean_trajectories
"""

In [ ]:
def gen_chi2_mean_trajectories(distribution, number_of_trajectories, length_of_trajectory):
    distribution.rand.seed(42)
    
    trajectories = []

    for _ in range(number_of_trajectories):
        trajectory = []
        cumulative_sum = 0.0
        
        for _ in range(length_of_trajectory):
            random_number = distribution.gen_rand()
            cumulative_sum += random_number
            trajectory.append(cumulative_sum / (len(trajectory) + 1))

        trajectories.append(trajectory)

    return trajectories